.header{
  border-bottom: 1px solid var(--secondary10);
  background-color: var(--white);
  z-index: 100;
  
  &__container{
    @extend %container;
    padding: rem(20) rem(30);
    @include flex(center, space-between);
  }

  &__login{
    @include flex(center, space-between);
  }

}