@use "sass:math";

@mixin tipo($media) {
  @if $media == mobile-med {
    @media only screen and (min-width: 375px) { @content; }
  }
  @else if $media == mobile-big {
    @media only screen and (min-width: 414px) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: 576px) { @content; }
  }
  @else if $media == tablet-med {
    @media only screen and (min-width: 768px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 1024px) { @content; }
  }
  @else if $media == desktop-med {
    @media only screen and (min-width: 1280px) { @content; }
  }
  @else if $media == desktop-big {
    @media only screen and (min-width: 1440px) { @content; }
  }
  @else if $media == desktop-vbig {
    @media only screen and (min-width: 1920px) { @content; }
  }
}

@mixin flex($ai, $jc){
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

@function rem($size) {
  @return math.div($size, $f-base)+rem;
}

@function lineHeight($size, $lh) {
  @return math.div($lh, $size)
}
