:root{
  --grey-bg: #F6F8F9;
  --grey10: #E6E6E6;
  --accepted: #51EC98;
  --secondary: #092E38;
  --turquoise: #54CDCD;
  --purple: #AE7BD6;
  --pink: #E163A0;
  --cyan: #5EAFD2;
  --black: #000;
  --black30: #B3B3B3;
  --black45: #8C8C8C;
  --black60: #666;
  --black85: #262626;
  --white: #FFF;
  --secondary10: #E1E6E7;
}

$f-base: 16;
