:root{
  --grey-bg: #F6F8F9;
  --accepted: #51EC98;
  --selected: #092E38;
  --turquoise: #54CDCD;
  --purple: #AE7BD6;
  --pink: #E163A0;
  --cyan: #5EAFD2;
  --black: #000;
  --black45: #8C8C8C;
  --white: #FFF;
}

$f-base: 16;
